*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#0f172a,#1e293b);
    padding:30px 0;
}

.container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.music-player{
    width:400px;
    padding:30px;
    border-radius:25px;
    text-align:center;
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(20px);
    box-shadow:0 10px 40px rgba(0,0,0,0.4);
    color:white;
}

.music-player h1{
    color:#38bdf8;
    margin-bottom:20px;
    font-size:2.2rem;
}

.cover{
    width:260px;
    height:260px;
    object-fit:cover;
    border-radius:20px;
    margin-bottom:20px;
    box-shadow:0 0 25px rgba(56,189,248,0.4);
}

#title{
    margin-bottom:10px;
    font-size:2rem;
}

#artist{
    color:#cbd5e1;
    margin-bottom:20px;
    font-size:1.1rem;
}

#progress{
    width:100%;
    cursor:pointer;
    margin-top:20px;
}

.time{
    display:flex;
    justify-content:space-between;
    margin-top:10px;
    color:#cbd5e1;
    font-size:15px;
}

.controls{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:25px;
    margin-top:30px;
}

.controls button{
    width:65px;
    height:65px;
    border:none;
    border-radius:50%;
    background:#38bdf8;
    color:white;
    cursor:pointer;
    font-size:22px;
    transition:0.3s;
}

.controls button:hover{
    transform:scale(1.1);
    box-shadow:0 0 20px rgba(56,189,248,0.8);
}

#play{
    width:75px;
    height:75px;
    font-size:26px;
}

.playlist{
    margin-top:35px;
    text-align:left;
}

.playlist h3{
    color:#38bdf8;
    margin-bottom:15px;
    font-size:1.8rem;
}

.playlist ul{
    list-style:none;
}

.playlist li{
    padding:15px;
    margin-bottom:12px;
    border-radius:12px;
    background:rgba(255,255,255,0.08);
    cursor:pointer;
    transition:0.3s;
    font-size:1.1rem;
}

.playlist li:hover{
    background:#38bdf8;
    color:#0f172a;
}

.active-song{
    background:#38bdf8 !important;
    color:#0f172a !important;
    font-weight:bold;
}

.footer{
    margin-top:25px;
    text-align:center;
    color:#cbd5e1;
    font-size:14px;
}

@media(max-width:500px){

    .music-player{
        width:90%;
    }

    .cover{
        width:100%;
        height:250px;
    }

    #title{
        font-size:1.5rem;
    }

}